<a href="https://colab.research.google.com/github/yfhkucing/regression_bms/blob/master/Model_revisi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy
import pandas as pd

In [9]:
feature = pd.read_excel('/content/input_big_2.xlsx')
label = pd.read_excel('/content/data_big_2.xlsx',sheet_name='Sheet2')

In [38]:
df_array= []
f = 0
for i in range(192):
  df = label.iloc[f:f+18]
  df = df.drop(['koor_x','koor_y'],axis=1)
  df_array.append(df)
  f=+18

In [39]:
df_array[1]

          Vx        Vy       Temp
18  0.006245 -0.002497  30.622356
19  0.005334 -0.002424  30.391623
20  0.004204 -0.002393  30.090652
21  0.004545 -0.001610  29.736277
22  0.004653 -0.000510  29.310329
23  0.004367  0.001292  28.792852
24  0.005219  0.001216  32.391788
25  0.005078  0.001156  31.981701
26  0.004430  0.000425  31.565336
27  0.004014  0.001682  31.171556
28  0.003829  0.003554  30.666773
29  0.003241  0.004023  30.011642
30  0.003291  0.005202  33.404675
31  0.004238  0.001699  32.752216
32  0.003752  0.001141  32.406200
33  0.003276  0.003860  31.889673
34  0.004372  0.002830  31.211824
35  0.003436  0.003272  30.497852

In [49]:
df_flatten = []
for i in range(192):
  df_flatten.append(df_array[i].to_numpy().flatten())

In [51]:
len(df_flatten[0])

54